<section class="content films-wrapper">
        <div class="l-container">
            <div class="b-flex b-flex_space_between">
                <h2>Фильмы</h2>
                <a class="btn" href="#" title="Все фильмы фестиваля">Все фильмы фестиваля</a>
            </div>
            <div id="films">
                <div class="film">
                    <div class="film__img" data-offset="12">
                        <img src="images/film1.jpg" width="268" height="381"  alt="">
                        <span class="shine"></span>
                    </div>
                    <div class="film__title">
                        <b>Большой собачий побег</b>
                        2016  —  Испания, Канада
                    </div>
                </div>
                <div class="film">
                    <div class="film__img" data-offset="5">
                        <img src="images/film2.jpg" width="268" height="381"  alt="">
                        <span class="shine"></span>
                    </div>
                    <div class="film__title">
                        <b> Я, Дэниел Блэйк </b>
                        2016  —  Великобритания, Франция, Бельгия
                    </div>
                </div>
                <div class="film">
                    <div class="film__img" data-offset="5">
                        <img src="images/film3.jpg" width="268" height="381"  alt="">
                        <span class="shine"></span>
                    </div>
                    <div class="film__title">
                        <b> Браво!  </b>
                        2016  —  Румыния, Болгария, Чехия
                    </div>
                </div>
                <div class="film">
                    <div class="film__img" data-offset="5">
                        <img src="images/film4.jpg" width="268" height="381"  alt="">
                        <span class="shine"></span>
                    </div>
                    <div class="film__title">
                        <b>Одиссея</b>
                        2016  —  Франция
                    </div>
                </div>
             </div>
        </div>
</section>
