<section id="map">
    <div class="b-flex b-flex_column">
        <div class="b-flex-item map__description">
            <h2>Где и когда</h2>
            <p>Фестеваль пройдет <b>с 28 ноября по 8 декабря </b>в кинотеатре «Заря» города Калининграда по адресу просп. Мира, 41/43</p>
        </div>
    </div>
</section>
