<div class="nav">
    <div class="nav__top">
        <a href="/" class="logo"><img src="/images/logo.png" alt="" widht="170" height="35"></a>
        <div class="dropdown">
            <div id="dropdown__btn">Город: <span>Калининград</span></div>
            <div class="dropdown-wrap">
                <div class="dropdown__menu animated">
                    <a href="#" class="dropdown__item">Cанкт-Пeтербург</a>
                    <a href="#" class="dropdown__item">Москва</a>
                    <a href="#" class="dropdown__item">Сочи</a>
                    <a href="#" class="dropdown__item">Загреб</a>
                </div>
            </div>
        </div>
    </div>
   <div class="b-table">
       <nav class="menu b-table__cell">
           <a href="#" class="menu__item" title="О фестивале">О фестивале</a>
           <a href="#" class="menu__item" title="Фильмы">Фильмы</a>
           <a href="#" class="menu__item" title="Расписание">Расписание</a>
           <a href="#" class="menu__item" title="Фото">Фото</a>
           <a href="#" class="menu__item" title="Контакты">Контакты</a>
           <a href="#" class="menu__item" title="Архив">Архив</a>
       </nav>
   </div>
    <div class="nav__bottom">
        <a class="btn btn_s-size" href="#" title="Купить билет">Купить билет</a>
        <div class="socials">
            <a href="#" class="fb socials__item" tittle=""></a>
            <a href="#" class="in socials__item" tittle=""></a>
            <a href="#" class="youtube socials__item" tittle=""></a>
            <a href="#" class="vimeo socials__item" tittle=""></a>
        </div>
    </div>
    <button class="menu-switch icon-menu"></button>
</div>
