<div id="slider" class="owl-carousel owl-theme">
  <div class="item" style="background-image: url('/images/slider1.jpg')"> 
    <div class="description">
        <span class="description__subtitle">Nuestros amantes</span>
        <div class="description__title">Наши любовники</div>
        <div class="description__text">Карлос — умный и привлекательный, но выглядит грустно, будто судьба совсем не балует его. Однажды он отправляется в книжный бар, чтобы впервые в жизни выпить бренди. Ирен — прирожденная выдумщица и завсегдатай этого места.</div>
        <a class="b-link" href="#"></a>
    </div>
</div>
  <div class="item" style="background-image: url('/images/slider2.jpg')"> 
    <div class="description">
        <span class="description__subtitle">Nuestros amantes</span>
        <div class="description__title">Наши любовники</div>
        <div class="description__text">Карлос — умный и привлекательный, но выглядит грустно, будто судьба совсем не балует его. Однажды он отправляется в книжный бар, чтобы впервые в жизни выпить бренди. Ирен — прирожденная выдумщица и завсегдатай этого места.</div>
        <a class="b-link" href="#"></a>
    </div>
 </div>
</div>
<div id="progress"></div>
