<% var
    pageTitle = "Фестиваль кино";
    pageId = "index";
    pageUrl = "";
    pageDescription = "Фестиваль кино";
    font = "https://fonts.googleapis.com/css?family=Montserrat:500,700&amp;subset=cyrillic-ext";
%>

<% include _header %>

<div class="container">
    <% include _nav %>
    <div class="main">
        <% include _slider %>
        <% include _content %>
        <% include _films %>
        <% include _map %>
    </div>
</div>

<% include _footer %>

